<!-- About Section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">I'm co-founder of <a href="https://www.deepseadev.com">DeepSea Developments</a> , also creator of products like <a href="https://www.deepdeck.co">DeepDeck</a> DeepDeck (open source macropad) and <a href="https://www.deeprad.co">DeepRad</a> (Software design Radio on a module)</p>
                    <p class="text-muted">I love building electronic products, and being able to tackle problems in a creative way. I love exploring and learning new things. I'm in the process of being an artist, a youtuber, create a modern art museum, among other things. </p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <!-- <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a> -->
                        <a class="text-gradient" href="https://www.linkedin.com/in/electronick/"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/electronick-co"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>